/*搜索按钮*/
.nav-common .warning-text {
    color: #ff5722;
}
.nav-common #searchbox{
    display: none;
    width: 0;
    /*transition: all 0.3s ease;*/
    padding:0;
    margin-bottom: 0;
    overflow: hidden;
    border-radius: 3px;
}
.nav-common form{
    margin-right: 0!important;
}
.nav-common #searchcontrol {
    padding-top: 10px;
    cursor: pointer;
}
.nav-common .navbar-form{
    padding-right: 0;
    margin-top: 10px!important;
    cursor: pointer;
}

/*search结果页面样式*/
.searchpage #searchForm {
    margin: 0 0 10px;
    padding: 15px;
    position: relative;
}
.searchpage #searchForm fieldset {
    border: none;
    margin: 0;
}
.searchpage #searchForm label {
    color: #AAA;
    font-size: 18px;
    position: relative;
    top: 0;
    margin: 0 0 0 -20px;
    white-space: nowrap;
    display: inline;
    font-weight: 300;
}
.searchpage #searchForm #searchInContainer {
    float: left;
    margin-bottom: 8px;
    width: 350px;
    margin-left: 10px;
}
.searchpage #searchForm #searchInContainer input {
    display: none;
    cursor: pointer;
    width: 10px;
    padding: 0;
}
.searchpage #searchForm .typeahead-field > span {
    display: inline-block;
}
.searchpage #searchForm .typeahead-query {
    width: 83.33%;
    padding: 0;
}
.searchpage #searchForm .typeahead-button {
    width: 16.67%;
    padding: 0;
}
.searchpage #searchForm .typeahead-result .typeahead-list {
    width: 84.25%;
}
.searchpage #searchForm .icons {
    list-style: none;
    margin: 2px 0 10px 335px;
    height: 19px;
    position: relative;
    width: 220px;
}
.searchpage #searchForm #s {
    border: none;
    color: #888;
    font-size: 15px;
    line-height: 15px;
    margin-right: 12px;
    outline: medium none;
    text-shadow: 1px 1px 0 white;
}
/*.searchpage #searchForm #submitButton {*/
    /*text-indent: -9999px;*/
    /*overflow: hidden;*/
    /*text-transform: uppercase;*/
    /*border: none;*/
    /*cursor: pointer;*/
    /*width: 100%;*/
    /*background-color: #E3E3E3;*/
    /*margin: 0 !important;*/
/*}*/
.searchpage #resultnum {
    font-size: 12px;
    color: #999999;
    margin-bottom: 10px;
    text-align: right;
}
.searchpage #resultsDiv .pageContainer {
    border-bottom: 1px solid #ccc;
    margin-bottom: 25px;
    padding-bottom: 15px;
}
.searchpage #resultsDiv .pageContainer .webResult {
    margin-bottom: 10px;
    color: #666;
}
.searchpage #resultsDiv .pageContainer .webResult a {
    color: #138DEF;
}
.searchpage #resultsDiv .pageContainer .webResult h2 {
    font-size: 18px;
    font-weight: normal;
    padding: 10px 20px;
    margin: 0;
    background-color: white;
}
.searchpage #resultsDiv .pageContainer .webResult p {
    line-height: 1.5;
    padding: 5px 0;
    margin-bottom: 0;
    font-size: 15px;
}
.searchpage #resultsDiv .pageContainer .webResult .link {
    font-size: 12px;
    margin: 5px 0 0;
}
.searchpage #resultsDiv .pageContainer .webResult .webresultbody {
    line-height: 1.5;
    padding: 5px 0;
    margin-bottom: 0;
    font-size: 15px;
}
.searchpage #more {
    cursor: pointer;
    margin: 20px auto;
    width: 100%;
}
.searchpage #sidebar {
    padding: 20px;
    overflow: hidden;
    background: #FFF;
    border: 1px solid #EEE;
}
.searchpage #sidebar .tabs-nav {
    border: 1px solid #efefef;
    text-align: center;
    padding: 5px 0;
    font-size: 16px;
}
.searchpage #sidebar .tag-list {
    padding-left: 0;
}
.searchpage #sidebar .tag-list li {
    display: inline-block;
    list-style: none;
    margin: 5px 5px;
    padding: 0;
    white-space: nowrap;
}
.searchpage #sidebar .tag-list li a {
    font-size: 13px;
    color: white;
    text-decoration: none;
}
.searchpage #sidebar .tag-list li a span {
    font-size: 12px;
}
.searchpage .loading {
    background: url("../img/loading.gif") no-repeat;
}
